## Preprocessing

In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\vakal\anaconda3\lib\site-packages (2.14.0)
Requirement already satisfied: tensorflow-intel==2.14.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow) (2.14.0)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.5.26)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.3.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.4.0)
Requirement already satisfied: keras<2.15,>=2.14.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: six>=1.12.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.16.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.6.3)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.0.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.25.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.3.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.14.1)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.5.4)
Requirement already satisfied: packaging in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (22.0)
Requirement already satisfied: tensorflow-estimator<2.15,>=2.14.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.59.2)
Requirement already satisfied: numpy>=1.23.5 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.23.5)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.31.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (16.0.6)
Requirement already satisfied: ml-dtypes==0.2.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: setuptools in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (65.6.3)
Requirement already satisfied: tensorboard<2.15,>=2.14 in c:\users\vakal\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\vakal\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.14.0->tensorflow) (0.38.4)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\vakal\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.23.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.28.1)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\vakal\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.0.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\vakal\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.7.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\vakal\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\vakal\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.2.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\vakal\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (5.3.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\vakal\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\vakal\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\vakal\anaconda3\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\vakal\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vakal\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vakal\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2023.5.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vakal\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.26.14)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\vakal\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\vakal\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\vakal\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.2.2)

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_values = application_df.nunique()

print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 500

application_type_count = application_df['APPLICATION_TYPE'].value_counts()

application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()

print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts_gt1 = classification_counts[classification_counts > 1]

print(classification_counts_gt1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classification_cutoff_value = 100

classification_counts = application_df['CLASSIFICATION'].value_counts()

classifications_to_replace = list(classification_counts[classification_counts < classification_cutoff_value].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df_encoded = pd.get_dummies(application_df)

print(application_df_encoded)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                       0
1           1    108590              1                       0
2           1      5000              0                       0
3           1      6692              1                       0
4           1    142590              1                       0
...       ...       ...            ...                     ...
34294       1      5000              0                       0
34295       1      5000              0                       0
34296       1      5000              0                       0
34297       1      5000              1                       0
34298       1  36500179              0                       0

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                         1                     0                    0
1                         0                     0                    1
2                         0                     0                    0
3                         0                     0                    1
4                         0                     0                    1
...                     ...                   ...                  ...
34294                     0                     0                    0
34295                     0                     0                    0
34296                     0                     0                    1
34297                     0                     0                    0
34298                     0                     0                    1

       APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                        0                    0                    0  ...
1                        0                    0                    0  ...
2                        0                    1                    0  ...
3                        0                    0                    0  ...
4                        0                    0                    0  ...
...                    ...                  ...                  ...  ...
34294                    1                    0                    0  ...
34295                    1                    0                    0  ...
34296                    0                    0                    0  ...
34297                    0                    1                    0  ...
34298                    0                    0                    0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                      0                       0                         0
1                      1                       0                         0
2                      0                       0                         0
3                      0                       1                         0
4                      0                       0                         1
...                  ...                     ...                       ...
34294                  0                       0                         0
34295                  0                       0                         0
34296                  0                       0                         0
34297                  0                       0                         0
34298                  0                       0                         0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                       0                 0                       0
1                       0                 0                       0
2                       0                 0                       0
3                       0                 0                       0
4                       0                 0                       0
...                   ...               ...                     ...
34294                   0                 0                       0
34295                   0                 0                       0
34296                   0                 0                       0
34297                   0                 0                       0
34298                   0                 1                       0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                    0                  0                         1
1                    0                  0                         1
2                    0                  0                         1
3                    0                  0                         1
4                    0                  0                         1
...                ...                ...                       ...
34294                0                  0                         1
34295                0                  0                         1
34296                0                  0                         1
34297                0                  0                         1
34298                0                  0                         1

       SPECIAL_CONSIDERATIONS_Y
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
34294                         0
34295                         0
34296                         0
34297                         0
34298                         0

[34299 rows x 50 columns]

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
target_column_name = 'IS_SUCCESSFUL'

X = application_df_encoded.drop(columns=[target_column_name])
y = application_df_encoded[target_column_name]

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=8, input_dim=len(X_train.columns), activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=5, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 400

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 451 (1.76 KB)
Trainable params: 451 (1.76 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [15]:
# Train the model
#  YOUR CODE GOES HERE
nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
804/804 [==============================] - 6s 5ms/step - loss: 0.6056 - accuracy: 0.7020
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5602 - accuracy: 0.7285
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5551 - accuracy: 0.7293
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5524 - accuracy: 0.7302
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5510 - accuracy: 0.7308
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5500 - accuracy: 0.7321
Epoch 7/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5493 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5492 - accuracy: 0.7325
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5485 - accuracy: 0.7331
Epoch 10/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5478 - accuracy: 0.7329
Epoch 11/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5477 - accuracy: 0.7332
Epoch 12/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5471 - accuracy: 0.7334
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5465 - accuracy: 0.7339
Epoch 14/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5464 - accuracy: 0.7343
Epoch 15/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5461 - accuracy: 0.7352
Epoch 16/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5461 - accuracy: 0.7353
Epoch 17/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5457 - accuracy: 0.7341
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5453 - accuracy: 0.7344
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5453 - accuracy: 0.7345
Epoch 20/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5454 - accuracy: 0.7343
Epoch 21/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5450 - accuracy: 0.7342
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5447 - accuracy: 0.7345
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5444 - accuracy: 0.7342
Epoch 24/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5445 - accuracy: 0.7354
Epoch 25/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5447 - accuracy: 0.7346
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5443 - accuracy: 0.7352
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 28/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5444 - accuracy: 0.7352
Epoch 29/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5442 - accuracy: 0.7357
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5437 - accuracy: 0.7355
Epoch 31/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5438 - accuracy: 0.7346
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5439 - accuracy: 0.7359
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5435 - accuracy: 0.7351
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5432 - accuracy: 0.7350
Epoch 36/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5435 - accuracy: 0.7349
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5432 - accuracy: 0.7349
Epoch 39/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5433 - accuracy: 0.7355
Epoch 40/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5432 - accuracy: 0.7345
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5432 - accuracy: 0.7353
Epoch 42/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5431 - accuracy: 0.7348
Epoch 43/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 44/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5430 - accuracy: 0.7349
Epoch 45/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5431 - accuracy: 0.7361
Epoch 46/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5429 - accuracy: 0.7347
Epoch 47/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5426 - accuracy: 0.7362
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5426 - accuracy: 0.7361
Epoch 49/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5426 - accuracy: 0.7367
Epoch 50/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5426 - accuracy: 0.7361

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5557 - accuracy: 0.7229 - 2s/epoch - 6ms/step
Loss: 0.5557108521461487, Accuracy: 0.7229154706001282

In [20]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("homework_model.h5")